In [6]:
import pandas as pd

In [7]:
#1

In [8]:
l = [4,8,15,16,23,42]
ser = pd.Series(l)
print(ser)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [9]:
#2

In [10]:
l = [1,23,54,'Rayyan',68,35,47,2,245,'204-05-12']
print(pd.Series(l))

0            1
1           23
2           54
3       Rayyan
4           68
5           35
6           47
7            2
8          245
9    204-05-12
dtype: object

In [11]:
#3

In [12]:
d = {'Name' : ['Alice','Bob','Claire'],
     'Age' : [25,30,27],
     'Gender' : ["Female","Male","Female"]}
df = pd.DataFrame(d)
print(df)
df

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [13]:
#4

In pandas, both DataFrame and Series are fundamental data structures, but they serve different purposes.

1) DataFrame:

* A DataFrame is a 2-dimensional labeled data structure with columns of potentially different types. It can be thought of as a table or a spreadsheet.
* Each column in a DataFrame is a Series, and they share the same index, making it easy to perform operations across columns.
* DataFrames can hold heterogeneous data types, making them suitable for handling real-world data where different columns may represent different types of information.
* DataFrames are created using the 'pd.DataFrame()' constructor.

2) Series:

* A Series is a one-dimensional labeled array capable of holding any data type (integers, strings, floating-point numbers, Python objects, etc.).
* Series objects have an associated index, which can be explicitly set or automatically generated.
* A Series is like a single column of data in a DataFrame, and it doesn't have column names.
* Series are created using the 'pd.Series()' constructor.

In [14]:
import pandas as pd

# Creating a DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 30, 35, 40],
    'Salary': [50000, 60000, 70000, 80000]
}
df = pd.DataFrame(data)
print("DataFrame:")
print(df)
print()

# Creating a Series
ages = pd.Series([25, 30, 35, 40], name='Age')
print("Series:")
print(ages)

DataFrame:
      Name  Age  Salary
0    Alice   25   50000
1      Bob   30   60000
2  Charlie   35   70000
3    David   40   80000

Series:
0    25
1    30
2    35
3    40
Name: Age, dtype: int64

In [15]:
#5

Some common functions along with examples of when you might use them:
1) 'loc[]' and 'iloc[]': Used for accessing subsets of rows and columns in a DataFrame by label ('loc[]') or by integer index ('iloc[]').

In [16]:
# Accessing a subset of data using loc[]
subset = df.loc[df['Age'] > 30, ['Name', 'Salary']]

2) 'drop()': Used to remove rows or columns from a DataFrame.

In [17]:
# Dropping rows with missing values
df.dropna(inplace=True)

3) 'fillna()': Used to fill missing values in a DataFrame with a specified value or method.

In [18]:
# Filling missing values with the mean of the column
df.fillna(df.mean(), inplace=True)

/tmp/ipykernel_91/1078485011.py:2: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.fillna(df.mean(), inplace=True)

4) 'groupby()': Used for grouping data based on one or more columns and applying aggregation functions.

In [19]:
# Grouping data by 'Category' and calculating mean 'Price'
avg_price_by_category = df.groupby('Category')['Price'].mean()

KeyError: 'Category'

5) merge() and concat(): Used for combining multiple DataFrames.

In [ ]:
# Merging two DataFrames based on a common column
merged_df = pd.merge(df1, df2, on='key_column')

#And many more..

In [1]:
#6

All three options (Series, DataFrame, and Panel) are mutable in nature.

In [2]:
#7

You can create a DataFrame using multiple Series by passing them as a dictionary to the 'pd.DataFrame()' constructor. Each Series will become a column in the DataFrame, and they must have the same length to align properly. Here's an example:

In [3]:
import pandas as pd

# Creating multiple Series
names = pd.Series(['Alice', 'Bob', 'Charlie', 'David'])
ages = pd.Series([25, 30, 35, 40])
salaries = pd.Series([50000, 60000, 70000, 80000])

# Creating a DataFrame using the Series
data = {
    'Name': names,
    'Age': ages,
    'Salary': salaries
}

df = pd.DataFrame(data)

print(df)

      Name  Age  Salary
0    Alice   25   50000
1      Bob   30   60000
2  Charlie   35   70000
3    David   40   80000